@model TrabajoFinal_Laboratorio4.Models.Ticket
<link href="~/css/detailsAndDelete.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar el Ticket?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Afiliado</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.afiliado.apellido)
        </dd>
        <dt class = "col-sm-2">
            <p>Fecha</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaSolicitud)
        </dd>
        <dt class = "col-sm-2">
            <p>Nombre Ticket</p>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.observacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" style="color: white; margin-bottom: 15px !important"/> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
