@model TrabajoFinal_Laboratorio4.Models.TicketDetalle
<link href="~/css/createAndEdit.css" rel="stylesheet" />


@{
    ViewData["Title"] = "Create";
}

<h1>Crear Detalle para Ticket</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="descripcionPedido" class="control-label">Descripción para el Pedido</label>
                <input asp-for="descripcionPedido" class="form-control" />
                <span asp-validation-for="descripcionPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estadoId" class="control-label">Seleccione el Estado</label>
                <select asp-for="estadoId" class ="form-control" asp-items="ViewBag.estadoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ticketId" class="control-label">Seleccione el Ticket</label>
                <select asp-for="ticketId" class ="form-control" asp-items="ViewBag.ticketId"></select>
            </div>
            <div class="form-group divBtn">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
