@{
    ViewData["Title"] = "Política de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Bienvenido a nuestra Política de Privacidad. En esta página, describimos cómo recopilamos, utilizamos y protegemos la información personal de nuestros usuarios.</p>

<h2>¿Qué información recopilamos?</h2>
<p>Recopilamos información que los usuarios nos proporcionan directamente, como al registrarse, crear tickets o enviar consultas. Esto puede incluir datos como:</p>
<ul>
    <li>Nombre y apellido</li>
    <li>DNI</li>
    <li>Fecha de nacimiento</li>
    <li>Información sobre los tickets</li>
</ul>

<h2>¿Cómo utilizamos su información?</h2>
<p>La información recopilada se utiliza para:</p>
<ul>
    <li>Gestionar y resolver sus tickets.</li>
    <li>Mejorar nuestros servicios y la experiencia del usuario.</li>
    <li>Enviar notificaciones sobre el estado de sus tickets.</li>
</ul>

<h2>¿Cómo protegemos su información?</h2>
<p>Implementamos medidas de seguridad para proteger su información personal contra accesos no autorizados, alteraciones o divulgaciones. Esto incluye el uso de tecnología de encriptación y prácticas de gestión de acceso.</p>

<h2>Sus derechos</h2>
<p>Usted tiene derecho a acceder, corregir y solicitar la eliminación de su información personal.</p>

<h2>Cambios a esta Política de Privacidad</h2>
<p>Nos reservamos el derecho a actualizar esta política en cualquier momento. Cualquier cambio será notificado en esta página.</p>

<p>Gracias por confiar en nosotros y por utilizar nuestros servicios. Si tiene preguntas sobre nuestra política de privacidad, no dude en ponerse en contacto con nosotros.</p>

